* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-image: url(./bg-img.jpg);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      gap: 40px;
    }




    .glass-box {
      display: flex;
      gap: 20px;
      padding: 15px 25px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    }


    

    .icon-btn {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .icon-btn:hover {
      transform: scale(1.2);
      background: rgba(255, 255, 255, 0.5);
      color: #007bff;
    }

    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 20px;
      width: 450px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    }

    .search-bar input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
      font-size: 16px;
      padding: 5px;
    }

    .search-bar input::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    .search-bar i {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .search-bar i:hover {
      color: darkblue;
      scale: 1.2;
    }






















































